The latest commit doesn't send server identifier if not present in DHCPOFFER options.

Someone on Mastodon was helpful in quoting and explaining RFC 2131, section 2, page 9:

> DHCP clarifies the interpretation of the 'siaddr' field as the
> address of the server to use in the next step of the client's
> bootstrap process.  A DHCP server may return its own address in the
> 'siaddr' field, if the server is prepared to supply the next
> bootstrap service (e.g., delivery of an operating system executable
> image).  A DHCP server always returns its own address in the 'server
> identifier' option.

As the router isn't up for providing operating system executable images it sets `siaddr` to `0.0.0.0`. With that in mind I think this change is good.

thanks!